[user]
	name = Kevin Olson
	email = kevin.b.olson@gmail.com
[merge]
	tool = vimdiff
	conflictstyle = diff3
[core]
	editor = vim
	autocrlf = input
[color]
	ui = true
[push]
	default = current
[branch]
	autosetuprebase = always
[rerere]
	enabled = 1
